@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@layer base {
    :root {
        --color-bg: #f3f4f6; /* Fundo claro padrão */
        --color-surface: #ffffff;
        --color-text: #1f2937;
        --color-text-muted: #6b7280;
    }

    /* Quando a tag <html> tiver a classe 'dark', estas cores assumem */
    .dark {
        --color-bg: #0a0a0f; /* O fundo escuro que você pediu */
        --color-surface: #1a1a24; /* Fundo de cards um pouco mais claro que o bg */
        --color-text: #f9fafb;
        --color-text-muted: #9ca3af;
    }

    body {
        @apply bg-background text-text transition-colors duration-300;
    }
}

/* Estilização elegante da barra de rolagem para o nosso CineTrack */
.custom-scrollbar::-webkit-scrollbar {
    height: 8px; /* Altura da barra horizontal */
    width: 8px; /* Largura da barra vertical (se houver) */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent; /* Fundo transparente para não poluir o design */
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--color-text-muted); /* Cor cinza neutra por padrão */
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary); /* Fica dourado ao passar o mouse! */
}

/* Para o Firefox */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--color-text-muted) transparent;
}
